* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial;
    margin: 0;
}
.container {
	width: 1303px;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: #cccccc;
}
h1 {
	text-align: right;
 	padding: 80px;
    	background: ＃F6F6F7;
    	color: #222222;
}

i {
	font-style: normal;
}

.list {
	width: 1303px;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 20px;
}

.list dl {
	float: left;
	width: 300px;
	border: 1px solid #ccc;
	padding: 10px;
}

.list dl+dl {
	margin-left: 5px;
}

.list dl img {
	width: 100%;
	text-align: center;
}

.list dl dd {
	text-align: center;
}

.list dl dd span {
	font: bold 22px/22px "Arial";
	color: red;
}

.list dl dd button {
	height: 30px;
	width: 100px;
	font: 400 18px/30px "Arial";
	color: #222222;
	border: none;
}

.list dl dd button:hover {
	background-color: #cccccc;
}

#cd-cart-trigger {
  right: 0;
}
#cd-cart-trigger a {
  background: #F6F6F7 no-repeat center center;
}
@media only screen and (min-width: 1200px) {
  #cd-cart-trigger {
    /* cart right margin on desktop */
    right: 0;
  }
  #cd-cart-trigger a {
    position: relative;
    width: 100px;
    border-left: none;
    background-color: ＃F6F6F7;
  }
#cd-shadow-layer {
  position: fixed;
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(67, 87, 121, 0.6);
  cursor: pointer;
  z-index: 2;
  display: none;
}
#cd-shadow-layer.is-visible {
  display: block;
  -webkit-animation: cd-fade-in 0.3s;
  -moz-animation: cd-fade-in 0.3s;
  animation: cd-fade-in 0.3s;
}

/* -------------------------------- 

xkeyframes 

-------------------------------- */
@-webkit-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-moz-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes cd-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}